<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Runs</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Runs</h1>
    <div>
      <% runs.forEach((run) => { %>
        <div id="runIndex">
      <a href="/users/<%= user._id %>/runs/<%= run._id %>">
        <div>
          <%= new Date(run.date).toLocaleDateString({ year: 'numeric', month:
          'short', day: 'numeric' }); %> <%= run.distance %><%= run.distanceUnit
          %>, <%= run.time %>
        </div>
        <div><b><%= run.location %></b></div>
        </div>
        <br />
        <% }); %></a>
    </div>
    <a href="runs/new" class="linkButton">Add a New Run</a>
  </body>
</html>
