<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= new Date(run.date).toLocaleDateString({ year: 'numeric',
      month:'short', day: 'numeric' }); %> Run
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>
      <%= new Date(run.date).toLocaleDateString({ year: 'numeric',
      month:'short', day: 'numeric' }); %> Run
    </h1>
    <div class="gridContainer">
      <div class="gridItem">
        <div class="runDetailTitles">Date:</div>
        <%= new Date(run.date).toLocaleDateString({ year: 'numeric',
        month:'short', day: 'numeric' }); %>
      </div>
      <div class="gridItem">
        <div class="runDetailTitles">Distance:</div>
        <%= run.distance %> <%= run.distanceUnit %>
      </div>
      <div class="gridItem">
        <div class="runDetailTitles">Time:</div>
        <%= run.time %>
      </div>
      <div class="gridItem">
        <div class="runDetailTitles">Pace:</div>
        <%= pace %>/ <%=run.distanceUnit %>
      </div>
      <div class="gridItem">
        <div class="runDetailTitles">Calories Burned:</div>
        <%= run.caloriesBurnt %> cals
      </div>
      <div class="gridItem">
        <div class="runDetailTitles">Average Heart Rate:</div>
        <%= run.avgHr %> bpm
      </div>
      <div class="gridItem">
        <div class="runDetailTitles">Run Type:</div>
        <%= run.runType %>
      </div>
      <div class="gridItem">
        <div class="runDetailTitles">Location:</div>
        <%= run.location %>
      </div>
    </div>
    <% if (run.notes) { %>
    <p><b>Notes:</b> <%= run.notes %></p>
    <% } %>
<div class="buttonLinkLine">
      <a href="/users/<%=user._id%>/runs/<%=run._id%>/edit" class="linkButton"
        >Edit this Run</a>

    <form
      action="/users/<%=user._id%>/runs/<%=run._id%>?_method=DELETE"
      method="POST">
      <button type="submit">Delete this Run</button>
    </form>
    </div>
  </body>
</html>
