<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Browse Our Community's Runs</h1>

    <% users.forEach((communityUser, idx) => {%>

    <!-- username -->
    <div><a href="/users/<%= communityUser._id %>"><%= communityUser.username %></a></div>

    <div>
      <p>Runs: <%= communityUser.runs.length %></p>
      <p>Total Distance: <%= userTotalDistances[idx] %> mi</p>
      <!-- pace -->
      <a href="/users/<%= communityUser._id %>">View Profile</a>
    </div>
    <% }); %>
  </body>
</html>
