<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Browse Our Community's Runs</h1>
    <div class="gridContainer">
      <% users.forEach((communityUser, idx) => {%>
      <div class="gridItem">
        <!-- username -->
        <b><a href="/users/<%= communityUser._id %>"
          ><%= communityUser.username %></a></b>
        <p>
          Total Runs: <%= communityUser.runs.length %><br />
          Total Distance: <%= userTotalDistances[idx] %> mi
        </p>
        <b><a href="/users/<%= communityUser._id %>">View Profile</a></b>
      </div>
      <% }); %>
    </div>
  </body>
</html>
